<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.ArticleMapper">

    <resultMap id="BaseResultMap" type="com.example.domain.Article">
            <id property="id" column="article_id" jdbcType="CHAR"/>
            <result property="userId" column="user_id" jdbcType="CHAR"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="categoryId" column="category_id" jdbcType="INTEGER"/>
            <result property="contentHtml" column="content_html" jdbcType="VARCHAR"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="commentCount" column="comment_count" jdbcType="INTEGER"/>
            <result property="viewCount" column="view_count" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="is_delete" jdbcType="CHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        article_id,user_id,title,category_id,
        content_html,content,
        comment_count,view_count,
        create_time,update_time,is_delete
    </sql>

    <insert id="addViewCount">
        UPDATE tb_article SET view_count = view_count + 1 WHERE id=#{articleId}
    </insert>

    <update id="updateCommCount">
        UPDATE tb_article SET comment_count = comment_count + 1 WHERE id=#{articleId}
    </update>

</mapper>
